<link rel="stylesheet" href="/Client/Content/app.css">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body, html {
       height: 100%;
       margin: 0;
      }
      div {
       background-image: linear-gradient(to top left,#C2D307,#0ED2DC);
       height: 100%; 
       color:white;
      }
    </style>
  </head>
  <body>
    <div>
        <h1 color="white" style="font-family:verdana;">Welcome to QFHO Tournament Site!</h1>

     <h2>Example of background image gradient</h2>
    </div>
  </body>
