<link rel="stylesheet" href="/Client/Content/app.css">
  <body background-color="brown"> 
    <div id="grad1">
        <h1 style="font-family:verdana; font-color:white" >Welcome to QFHO Tournament Site!</h1><br>
        <h3 style="font-family:verdana;">Join millions and create your Single-Elimination Tournament today</h3>
     
    </div>
  </body>
