<link rel="stylesheet" href="/Client/Content/app.css">



  <body>
    <div>
        <h1 color="white" style="font-family:verdana;">Welcome to QFHO Tournament Site!</h1>

     <h2>Example of background image gradient</h2>
    </div>
  </body>
