<link rel="stylesheet" href="/Client/Content/app.css">
  <body background-color="brown"> 
    <div id="grad1">
        <h1 style="font-family:verdana; color:white" >Welcome to QFHO Tournament Site!</h1><br>
        <h3 style="font-family:verdana; color:rgb(209, 206, 206)">Join millions and create your Single-Elimination Tournament today</h3>       
       <div class="img"> 
        <img src="/Assets/images/bracket.JPG" alt="Example of bracket tournament" />
    </div>
    </div>
    
  </body>
