<link rel="stylesheet" href="/Client/Content/app.css">
  <body color="brown"> 
    <div id="grad1">
        <h1 font-color="white" style="font-family:verdana;">Welcome to QFHO Tournament Site!</h1>
        <h3>Create your Single-Elimination Tournament today</h3>
     
    </div>
  </body>
